.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}
body{
    height:100%;
    width:100%;
    background-color:#121111;
}
.money{
    margin-top:10vh;
}
.money, .botaohome, .store{
    display:flex;
    justify-content:center;
    align-items:center;
}
.buttonhome{
    height:8vh;
    width:30vh;
    font-size:large;
    border-radius:12px;
    background:linear-gradient(120deg, #73ddf7 0%, #8da2cd 100%);
    border-color:black;
    color:rgb(256, 256, 256);
    text-shadow:2vh;
    font-weight:700;
}
.botaohomedpc{
    margin-top:3vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.buttonhome:hover, .buttonstore:hover{
    background:linear-gradient(120deg, #73ddf7 0%, #778fc0 100%);
    cursor:pointer;
}
.buttonstore{
    background:linear-gradient(120deg, #73ddf7 0%, #8da2cd 100%);
}
.buttonstorerebirth{
    background:linear-gradient(120deg, #f77378 0%, #ce4343 100%); 
}
.buttonstore, .buttonstorerebirth{
    margin-top:3vh;
    height:9vh;
    width:35vh;
    font-size:large;
    border-radius:12px;
    border-color:black;
    color:rgb(256, 256, 256);
    text-shadow:2vh;
    font-weight:700;
    display:block;
    cursor:pointer;
}
.items, .yourstore{
    margin-top:7vh;
}
.titulomarketplace, .titulomarketplacerebirth{
    font-size:xx-large;
    text-align:center;
    color:#d1d1d1;
}
.titulomarketplacerebirth{
    color:#de8989;
}
.marketplacenum{
    font-size:medium;
    color:#2e2e2e;
}
.dinheiro{
    font-size:xx-large;
    text-align:center;
    color:#d1d1d1;
}
.header-main-header{
    padding:10px;
    display:flex;
}
.header-stats-main{
    padding:10px;
    display:flex;
}
.header-main-header-stats{
    margin-left:10px;
}
.header-link-otherpages{
    padding:10px;
    display:flex;
    justify-content:right;
    align-items:right;
    height:100%;
    width:100%;
}
.aheader-link-otherpages{
    color:#d1d1d1;
    padding:10px;
    background:0;
    border:0;
    cursor:pointer;
    font-size:larger;
    margin-left:5px;
}.aheader-link-otherpages:hover{
    color:#c5c5c5;
    text-decoration:underline;
    padding:10px;
}
.footer{
    padding-top:20px;
}
.rebirthstore{
    margin-top:3vh;
}
.rebirthstorelist{
    margin-top:1vh;
}
.rebirthstorelistp{
    color:#ca9393;
}
.rebirthstoreh2{
    color:#c28282;
}
/*sobre.html*/

.home-sobrehtml{
    text-align:center;
    padding-left:15vh;
    padding-right:15vh;
}
.text-home-sobrehtml{
    margin-top:5vh;
}
.text-home-sobrehtml-versao{
    font-size:small;
    color:#f77378;
}
